@import url('Styles/header.css');
@import url('Styles/navigation.css');
@import url('Styles/swiper.css');
* {
  margin: 0;
}
:root {
  --font-color: hsl(277, 65%, 22%);
  --font-size: 20px;
}
body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: var(--font-color);
  background: hsla(197, 62%, 14%, 0.762);
  box-sizing: border-box;
}

main > article {
  display: flex;
  justify-content: space-around;
}
main > article > section {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
main > article {
  color: silver;
}
#projetos{

}
#livros {
  color: silver;
}
#livros article > section, a {
  color:white;
}
main > article > section > a > img {
  height: 140px;
  width: 100px;
}
.projetos img {
  height: 25em;
  width: 10em;
}
