.swiper__container {
  background-image: linear-gradient(
    to right,
    rgba(34, 60, 74, 0.911),
    rgba(36, 101, 136, 0.911),
    rgba(22, 65, 88, 0.911)
    );
    padding: 2.5em 4em;
}
.swiper__titulo {
  margin-bottom: 1em;
  color: silver;
  font-size: 30px;
  font-weight: bold;
}
.swiper__img {
  height: 27em;
  width: 15em;
  align-items: center;
  margin: .5em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .swiper-container {
    text-align: center;
  }
  .swiper-scrollbar {
    display: none;
  }
}